<body>
  <label id="title">Members</label>
  <div class="row">
    <div class="col-3">
      <app-project-sidebar></app-project-sidebar>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">candidates</div>
        <ul class="list-group list-group-flush">
          <div *ngFor="let user of projectEmployee">
            <li class="list-group-item">
              <button
                type="button"
                class="btn btn-primary"
                (click)="selectedUser(user)"
              >
                {{ user.UserID }}
                {{ user.Username }}
              </button>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          <div class="card-header">employee</div>
          <div *ngFor="let user of hires">
            <li class="list-group-item">
              <button
                type="button"
                class="btn btn-primary"
                (click)="deleteUser(user)"
              >
                {{ user.UserID }} {{ user.Username }}
              </button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</body>
