<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="login.js" type="text/js"></script>
    <title>Swiftly</title>
  </head>
  <body>
    <div class="login-box">
      <h1>Swiftly</h1>
      <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required />
        <label for="password">Password:</label>
        <input type="text" id="password"  [(ngModel)]="password" name="password" required />
        <button  (click) = checkPassword() type="submit" value="Login"> submit</button>
      </form>
    </div>
  </body>
  <ul >
    <li *ngFor="let user of users">
          {{user.Password}}
          <br>
          {{user.Username}}

    </li>
  </ul>
</html>
