header {
  background-color: grey;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}
.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  width: 20%;
  height: 100%;
}
.main {
  padding: 20px;
  width: 75%;
}
.task-box {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
}
.task-box h2 {
  margin-top: 0;
}
.task-box h3 {
  margin-top: 0;
}
.task-box p {
  margin-bottom: 0;
}
.task-box .status {
  float: right;
}
.column {
  width: 20%;
  float: left;
}
#title {
  font-weight: bold;
  font-size: 50px;
}
