<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-light">
        <!--LOOK HERER !!!!!!!!!!!! -->
        <app-project-detail (clickProject) ="givenProject($event)"></app-project-detail>
      </div>
      <div class="col-md-9">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">{{proj.Name}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-md-12">
            <!--LOOK HERER !!!!!!!!!!!! -->
            <app-display-detail [selectedProject]="proj"></app-display-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
  