<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h2>Edit Task</h2>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter task name"
          [(ngModel)]="task.Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="5"
          placeholder="task.Description"
          [(ngModel)]="task.Description"
          required
        ></textarea>
      </div>
      <div *ngIf="statusOptions" class="form-group">
        <label for="ticketStatus">Task Status</label>
        <select class="form-control" [(ngModel)]="task.StatusID">
          <option *ngFor="let stat of statusOptions" [value]="stat.StatusID">
            {{ stat.Name }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="updateTask()">
        Update Task
      </button>
      <p id="success" *ngIf="success">Success!</p>
    </div>
  </div>
</div>

<!-- TaskID: number;
Name: string;
Description: string;
StatusID: number;
AuthorID: number;
Collaborators: number[]; -->
