<!DOCTYPE html>
  <head>
    <title>Create Account</title>

  </head>
  <body>
    cool
    <ul >
      <li *ngFor="let user of users">
  
            cool
      </li>
    </ul>
    <h1>Create Account</h1>
    <form>
      <label for="username">Hero name: </label>
      <input id="username" [(ngModel)]="username" placeholder="user name"/>

      <label for="password">Password:</label>
      <input type="password" id="password" (name)="password" />

      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" />
      <span class="password-error" style="display: none"
        >Passwords do not match.</span
      >

      <button type="submit" id="create-account-button">Create Account</button>
      <a href="login.html"
        ><button type="button" class="login" id="login-button">
          Return to Login
      </button></a
      >
    </form>
  </body>


