/* Add some basic styles to the page */
body {
  font-family: Arial, sans-serif;
  background-color: grey;
  height: 100vh;
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: white;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: lightgray;
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button :hover {
  background-color: gray;
}

span.password-error {
  color: red;
}
