body {
  font-family: Arial, sans-serif;
  background-color: #33cc99;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  border: 1px solid #33cc99;
}

.card-header {
  background-color: #33cc99;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;

}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #33cc99;
  border-radius: 4px;
}

button {
  margin: 5px 5px 5px 5px;
  background-color: #33cc99;
  color: white;
}

button:hover {
  background-color: #5bd38e;
}



.btn:hover {
  background-color: #f0f0f0;
  color: #33cc99;
}


.text-center {
  text-align: center;
}
#btn{
  width: 100%;
 }

 
