header {
  background-color: grey;
  color: #fff;
  padding: 10px;
}

.box {
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  position: relative;
}

.box h2 {
  margin-top: 0;
}

.box ul {
  list-style-type: none;
  padding: 0;
}

// .box button {
//   background-color: grey;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin-bottom: 10px;
//   cursor: pointer;
//   position: absolute;
//   top: 20px;
//   right: 10px;
//   transform: translate(0, -50%);
// }

// .add-button:before {
//   content: "+";
// }

.container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  height: 92vh;
}
.box {
  margin-right: 2rem;
}
#title {
  font-weight: bold;
  font-size: 50px;
}
#settings-icon {
  width: 30px;
  height: 30px;
}
#add-status {
  width: 50px;
  height: 50px;
}
