// header {
//   background-color: grey;
//   color: #fff;
//   padding: 10px;
// }

.box {
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  position: relative;
}

.box h2 {
  margin-top: 0;
}

.box ul {
  list-style-type: none;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  height: 88vh;
}
.box {
  margin-right: 2rem;
}
#title {
  font-weight: bold;
  font-size: 50px;
}
#settings-icon {
  width: 30px;
  height: 30px;
}
#add-status {
  width: 50px;
  height: 50px;
  margin-top: 35%;
  font-size: 30px;
  font-weight: bolder;
}
