<header>
  <h1>{{ projectSelected }}</h1>
</header>
<body>
  
  <div *ngIf="'taskDisplay' === switchPhrase" class="container">
    <div class="box" *ngIf="completedTasks != 0">
      <button class="add-button" (click)="addTask()"></button>
      <h2>Task to be done:</h2>
      <app-task-detail [certainTask]="completedTasks"></app-task-detail>
    </div>
    <div *ngIf="inProgressTasks != 0" class="box">
      <button class="add-button" (click)="addTask()"></button>
      <h2>Task in progress:</h2>
      <app-task-detail [certainTask]="inProgressTasks"></app-task-detail>
    </div>
    <div class="box" *ngIf="notStartedTasks != 0" >
      <button class="add-button" (click)="addTask()"></button>
      <h2>Task Completed</h2>
      <app-task-detail [certainTask]="notStartedTasks"></app-task-detail>
    </div>
  </div>
  <app-task-edit *ngIf=" 'taskEdit'===switchPhrase"></app-task-edit>
</body>