<header>
  <label id="title">{{ projectSelected }}</label>
  <button
    class="btn btn-primary"
    (click)="clickSettings()"
    id="settings-icon"
    id="settings-button"
  >
    <img
      id="settings-icon"
      src="../../../assets/resources/settings_wheel_icon.png"
      alt="settings"
    />
  </button>
</header>
<body>
  <div class="container">
    <div class="box" *ngFor="let status of statuses">
      <button class="add-button" (click)="addTask()"></button>
      <h2>{{ status.Name }}</h2>
      <div *ngFor="let task of status.Tasks">
        <app-task-detail [certainTask]="task"></app-task-detail>
      </div>
    </div>
    <button id="add-status" class="btn btn-primary" (click)="clickAddStatus()">+</button>
  </div>
</body>
