<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="projects">
        <p>USER ICON</p>
        <h1>Projects</h1>
        <div *ngFor="let project of projects">
          <button
            class="btn"
            [ngStyle]="{ color: project.Color }"
            (click)="clickProject(project)"
          >
            {{ project.Name }}
          </button>
        </div>
        <div id="new-project">
          <button class="btn" (click)="clickNewProject()">New Project</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <!-- user name icon goes here -->
      <div class="main">
        <!-- this is the main area for anything(switch statment) -->
        <app-taskboard *ngIf="displayScreen == 'taskboard'"></app-taskboard>
        <app-project-overview
          *ngIf="displayScreen == 'overview'"
        ></app-project-overview>
        <app-task-view *ngIf="displayScreen == 'task-view'"></app-task-view>
      </div>
    </div>
  </div>
</div>
