button {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: white;
}
.projects {
  height: 100vh;
  background-color: grey;
  margin: auto;
  padding: 10px;
}
.col-2 {
  width: 180px;
}
#new-project {
  margin-top: 300px;
}
.main {
  background-color: lightskyblue;
  height: 100vh;
}
h1 {
  font-size: 37px;
}
