<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="projects">
        <p>USER ICON</p>
        <h1>Projects</h1>
        <div *ngFor="let project of projects">
          <button
            class="btn"
            [ngStyle]="{ color: project.Color }"
            (click)="clickProject(project)"
          >
            {{ project.Name }}
          </button>
        </div>
        <div id="new-project">
          <button class="btn" (click)="clickNewProject()">New Project</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <!-- user name icon goes here -->
      <div class="main">
        <!-- this is the main area for anything(switch statment) -->
        <app-taskboard *ngIf="select === 1"></app-taskboard>
        <app-project-overview *ngIf="select === 2"></app-project-overview>
        <app-task-edit *ngIf="select === 3"></app-task-edit>
        <app-role-overview *ngIf="select === 4"></app-role-overview>
        <app-member-overview *ngIf="select === 5"></app-member-overview>
        <app-status-edit *ngIf="select === 6"></app-status-edit>
        <app-role-edit *ngIf="select === 7"></app-role-edit>
        <app-role-create *ngIf="select === 8"></app-role-create>
        <app-status-create *ngIf="select === 9"></app-status-create>
        <app-task-create *ngIf="select === 10"></app-task-create>
        <app-project-create *ngIf="select === 11"></app-project-create>
      </div>
    </div>
  </div>
</div>
